---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="AppStore">

  <section class="p-10 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="text-center mb-10">
        <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-white">AppStore</h1>
        <p class="text-lg text-gray-700 dark:text-gray-300">Overview of the installers available in Bottles.</p>
      </div>
    </div>
    <div class="flex justify-center mb-8">
      <div class="relative w-full max-w-md">
        <input type="search" id="storeSearch" autocomplete="off" placeholder="" class="w-full py-2 pl-10 pr-4 border rounded-lg shadow-sm focus:ring focus:outline-none dark:bg-gray-800 dark:text-gray-200 dark:placeholder-gray-400 dark:border-gray-700" />
        <Icon name="material-symbols:search" class="absolute top-2 left-2 w-6 h-6 text-gray-400 dark:text-gray-300" />
      </div>
    </div>
  </section>

  <div class="container mx-auto px-4 mt-8">
      <div id="filters" class="flex mb-8 space-x-4 overflow-x-auto md:overflow-x-hidden w-full md:justify-center">
        <button id="allFilter" class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors active:shadow-lg">All</button>
        <button id="platinumFilter" class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 transition-colors opacity-50">Platinum</button>
        <button id="goldFilter" class="bg-yellow-300 dark:bg-yellow-600 text-yellow-900 dark:text-yellow-100 px-4 py-2 rounded-lg hover:bg-yellow-400 dark:hover:bg-yellow-500 transition-colors opacity-50">Gold</button>
        <button id="silverFilter" class="bg-gray-200 dark:bg-gray-600 text-gray-800 dark:text-gray-300 px-4 py-2 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-500 transition-colors opacity-50">Silver</button>
        <button id="bronzeFilter" class="bg-yellow-600 dark:bg-yellow-700 text-yellow-100 px-4 py-2 rounded-lg hover:bg-yellow-700 dark:hover:bg-yellow-800 transition-colors opacity-50">Bronze</button>
      </div>

      <div id="storeResults" class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- JS will inject cards here -->
      </div>
  </div>

  <div class="modal" id="modal_installer"></div>
  <div class="modal" id="modal_review"></div>

</Layout>

<script>
import jsyaml from 'js-yaml';

interface Installer {
  Name: string;
  Description: string;
  Icon: string;
  Grade: string;
  Category: string;
}

class AppStore {
  searchInput: HTMLInputElement | null;
  filters: { [key: string]: HTMLElement | null };
  storeResults: HTMLElement | null;

  constructor() {
    this.searchInput = document.getElementById('storeSearch') as HTMLInputElement;
    this.storeResults = document.getElementById('storeResults');
    this.filters = {
      all: document.getElementById('allFilter'),
      platinum: document.getElementById('platinumFilter'),
      gold: document.getElementById('goldFilter'),
      silver: document.getElementById('silverFilter'),
      bronze: document.getElementById('bronzeFilter'),
    };

    this.initSearch();
    this.initFilters();
    this.fetchInstallers();
  }

  initSearch(): void {
    if (this.searchInput) {
      this.searchInput.addEventListener('keyup', () => {
        const search = this.searchInput?.value.toLowerCase() || '';
        const cards = document.querySelectorAll('#storeResults .card');
        cards.forEach((card) => {
          const text = card.textContent?.toLowerCase() || '';
          (card as HTMLElement).style.display = text.includes(search) ? 'flex' : 'none';
        });
      });
    }
  }

  initFilters(): void {
    for (const filter in this.filters) {
      const button = this.filters[filter];
      if (button) {
        button.addEventListener('click', () => {
          const cards = document.querySelectorAll('#storeResults .card');
          const filterValue = filter === 'all' ? '' : filter;

          cards.forEach((card) => {
            const grade = (card as HTMLElement).getAttribute('grade') || '';
            const category = (card as HTMLElement).getAttribute('category') || '';

            (card as HTMLElement).style.display = filter === 'all' || grade === filterValue || category === filterValue ? 'flex' : 'none';
          });

          for (const filter in this.filters) {
            if (this.filters[filter]) {
              this.filters[filter]?.classList.add('opacity-50');
              this.filters[filter]?.classList.remove('shadow-lg');
            }
          }

          button.classList.remove('opacity-50');
          button.classList.add('shadow-lg');
        });
      }
    }
  }

  fetchInstallers(): void {
    fetch('https://raw.githubusercontent.com/bottlesdevs/programs/main/index.yml')
      .then((response) => response.text())
      .then((data) => {
        const installers: { [key: string]: Installer } = jsyaml.load(data) as { [key: string]: Installer };

        if (typeof installers === 'object' && this.storeResults) {
          const installerNames = Object.keys(installers);
          const randomInstallerName = installerNames[Math.floor(Math.random() * installerNames.length)];
          if (this.searchInput) {
            this.searchInput.placeholder = installers[randomInstallerName].Name;
          }

          for (const item in installers) {
            const installer = installers[item];
            const icon = `https://github.com/bottlesdevs/programs/blob/main/data/${item}/${installer.Icon}?raw=true`;
            const cardHTML = this.generateCardHTML(item, installer, icon);
            this.storeResults.innerHTML += cardHTML;
          }
        }
      })
      .catch((err) => console.error('Failed to fetch Installers database index!', err));
  }

  getGradeColor(grade: string): string {
    switch (grade.toLowerCase()) {
      case 'platinum':
        return 'bg-gray-300 text-gray-900';
      case 'gold':
        return 'bg-yellow-300 text-yellow-900';
      case 'silver':
        return 'bg-gray-200 text-gray-800';
      case 'bronze':
        return 'bg-yellow-600 text-yellow-100';
      default:
        return 'bg-gray-200 text-gray-800';
    }
  }

  getCategoryColor(category: string): string {
    switch (category.toLowerCase()) {
      case 'software':
        return 'bg-blue-200 text-blue-800';
      case 'games':
        return 'bg-purple-200 text-purple-800';
      default:
        return 'bg-gray-200 text-gray-800';
    }
  }

  generateCardHTML(item: string, installer: Installer, icon: string): string {
    return `
      <div grade="${installer.Grade.toLowerCase()}" category="${installer.Category.toLowerCase()}" class="card bg-white rounded-lg shadow-md justify-between flex flex-col relative top-0 transition-all hover:shadow-lg hover:-top-1 dark:bg-gray-800 dark:text-gray-200">
        <div class="p-4">
          <div class="flex gap-4">
            <img src="${icon}" alt="${item}" class="w-8 h-8 self-center">
            <h3 class="text-2xl font-bold mb-2">${installer.Name}</h3>
          </div>
          <p class="text-gray-600 mb-4 text-xl dark:text-gray-300">${installer.Description}</p>
          <div class="tags flex space-x-2 mb-4">
            <span class="${this.getGradeColor(installer.Grade)} px-2 py-1 rounded-lg text-sm">${installer.Grade}</span>
            <span class="px-2 py-1 rounded-lg text-sm ${this.getCategoryColor(installer.Category)}">${installer.Category}</span>
          </div>
        </div>
        <div class="bg-gray-100 rounded-b-lg text-center flex gap-2 justify-between dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600">
          <a class="block font-medium text-lg size-full p-2 hover:bg-gray-500 rounded-bl-lg" href="/app#${item}">Details</a>
          <a class="block font-medium text-lg size-full p-2 hover:bg-gray-500 rounded-br-lg" href="https://docs.usebottles.com/bottles/installers#use-installers">Install</a>
        </div>
      </div>
      `;
    }
}

document.addEventListener('DOMContentLoaded', () => {
  new AppStore();
});
</script>

</Layout>
